<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.d.linking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory">
        <activity android:name=".Activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LinkSave_Popup"
            android:theme="@style/popup" />
        <activity
            android:name=".Activity.LinkSave_Popup2"
            android:theme="@style/popup"/>
        <activity
            android:name=".Activity.DirSave_Popup"
            android:theme="@style/popup" />
        <activity
            android:name=".Activity.Directory_Rename"
            android:theme="@style/popup" />
        <activity
            android:name=".Activity.Link_edit_popup"
            android:theme="@style/popup" />
        <!--navigation-->
        <activity android:name=".Activity.Workspace"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.Search"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.Search2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.Search_user"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.Follow"></activity>
        <activity android:name=".Activity.MailBox"></activity>
        <activity android:name=".Activity.Other_Workspace"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Activity.UserSetting"></activity>
        <activity android:name=".Activity.User_Rename"
            android:theme="@style/popup"></activity>
    </application>

</manifest>